header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 21px 120px 22px;
}
input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 114px;
    background-image: url('./public/assets/inputback.svg');
    background-repeat: no-repeat;
    background-position: 100px;
}